# pasta de audios temporarios recebidos do Watson

audio_cache_files/
ibm_cred.txt

#

# Ignorar todos os arquivos que começam com ponto
.*

# Mas não ignorar estes arquivos específicos
!.gitignore
!.github/
!.gitlab-ci.yml
!.editorconfig

